{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Store {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/about">About</a>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}

    <hr>

    <footer>
        <p>&copy; 2026 My Store</p>
    </footer>

</body>

</html>