{% extends 'base.html' %}
{% block title %} Products {% endblock %}


{% block content%}
<h1>Products</h1>
{% for product in products %}
<div class="product">
    <a href="{% url 'product_detail' product.id %}">
        <h2> {{product.name}}</h2>
    </a>
    <p>Price : {{product.price}}</p>
    {% if product.quantity == 0 %}
    <p>Out of Stock</p>
    {% else %}

    <p>Quantity : {{product.quantity}}</p>
    <a href="{% url 'edit_product' product.id%}">Want to Edit this product</a>
    <br>
    <br>
    <a href="{% url 'delete_product' product.id %}"
        onclick="return confirm('Are you sure you want to delete this product? ')">Delete this product</a>
    {% endif %}
</div>

{% empty %}
<p> No products Available </p>


{% endfor %}
<br>
<a href="{% url 'create_product' %}">Add new Product</a>
{%endblock%}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Products</h1>
    {% for product in products %}
    <a href="{% url 'product_detail' product.id %}"><h2> {{product.name}}</h2></a>
    <p>Price : {{product.price}}</p>
    <p>Quantity : {{product.quantity}}</p>
    {% endfor %}
</body>
</html> -->